Repository teamterning/Terning-Android, pull requests merged in 2024-12, with the labels that each got.

#307 [FEAT/#304] 온보딩 뷰 / 필터링 건너뛰기 추가
  build-logic/src/main/java/terning.android.feature.gradle.kts
  core/designsystem/docs.md
  core/designsystem/src/main/java/com/terning/core/designsystem/component/button/RectangleButton.kt
  core/designsystem/src/main/java/com/terning/core/designsystem/component/button/RoundButton.kt
  core/designsystem/src/main/java/com/terning/core/designsystem/component/button/TerningBasicButton.kt
  feature/filtering/src/main/java/com/terning/feature/filtering/startfiltering/StartFilteringRoute.kt
  feature/filtering/src/main/java/com/terning/feature/filtering/startfiltering/navigation/StartFilteringNavigation.kt
  feature/filtering/src/main/java/com/terning/feature/filtering/starthome/StartHomeRoute.kt
  feature/filtering/src/main/res/values/strings.xml
  feature/main/src/main/java/com/terning/feature/main/MainScreen.kt
  gradle/libs.versions.toml
Labels: FEAT ✨, 유빈💙

#311 [UI/#305] 캘린터 터치 영역 수정
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/CalendarRoute.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/CalendarViewModel.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/ScreenTransition.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/WeekDaysHeader.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/dialog/CalendarScrapCancelDialog.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/dialog/CalendarScrapPatchDialog.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/group/CalendarDayGroup.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/group/CalendarMonthGroup.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/group/CalendarScrapGroup.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/group/CalendarScrapListGroup.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/group/CalendarScrapListItemGroup.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/group/CalendarWeekGroup.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/pager/CalendarMonthPager.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/component/pager/CalendarWeekPager.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/model/CalendarModel.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/model/CalendarUiState.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/model/DayModel.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/model/MonthModel.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/model/TerningCalendarModel.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/calendar/type/WeekDay.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/list/CalendarListScreen.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/month/CalendarMonthScreen.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/month/CalendarMonthViewModel.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/month/component/CalendarMonth.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/month/model/DayModel.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/month/model/MonthModel.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/week/CalendarWeekScreen.kt
  feature/calendar/src/main/java/com/terning/feature/calendar/week/component/HorizontalCalendarWeek.kt
Labels: REFACTOR ♻️, UI 💐, 석준💜

#312 [MOD/#308] 3차 스프린트 홈 뷰 변경사항 반영
  core/designsystem/src/main/java/com/terning/core/designsystem/component/button/SortingButton.kt
  core/designsystem/src/main/java/com/terning/core/designsystem/component/item/InternItem.kt
  core/designsystem/src/main/java/com/terning/core/designsystem/component/item/InternItemWithShadow.kt
  data/home/src/main/java/com/terning/data/home/datasource/HomeDataSource.kt
  data/home/src/main/java/com/terning/data/home/datasourceimpl/HomeDataSourceImpl.kt
  data/home/src/main/java/com/terning/data/home/repositoryimpl/HomeRepositoryImpl.kt
  data/home/src/main/java/com/terning/data/home/service/HomeService.kt
  domain/home/src/main/java/com/terning/domain/home/repository/HomeRepository.kt
  feature/home/src/main/java/com/terning/feature/home/HomeRoute.kt
  feature/home/src/main/java/com/terning/feature/home/HomeSideEffect.kt
  feature/home/src/main/java/com/terning/feature/home/HomeState.kt
  feature/home/src/main/java/com/terning/feature/home/HomeViewModel.kt
  feature/home/src/main/java/com/terning/feature/home/component/HomeFilteringScreen.kt
  feature/home/src/main/java/com/terning/feature/home/component/HomeUpcomingInternScreen.kt
  feature/home/src/main/java/com/terning/feature/home/navigation/HometNavigation.kt
  feature/home/src/main/res/values/strings.xml
  feature/main/src/main/java/com/terning/feature/main/MainScreen.kt
  feature/search/src/main/java/com/terning/feature/search/searchprocess/SearchProcessRoute.kt
  feature/search/src/main/res/values/strings.xml
Labels: MOD ✅, 효빈💚

#314 [FEAT/#309] 홈 필터링 재설정 뷰 / 데이트 피커 비활성화 아이템 추가
  feature/filtering/src/main/java/com/terning/feature/filtering/filteringthree/FilteringThreeRoute.kt
  feature/filtering/src/main/java/com/terning/feature/filtering/filteringthree/component/FilteringYearMonthPicker.kt
  feature/home/src/main/java/com/terning/feature/home/component/HomeFilteringBottomSheet.kt
  feature/home/src/main/java/com/terning/feature/home/component/HomeYearMonthPicker.kt
  feature/main/src/main/java/com/terning/feature/main/MainScreen.kt
Labels: FEAT ✨, 유빈💙
